.tit {  font-family: "宋体"; font-size: 14px; font-weight: bolder; color: #000000}
.txt {  font-family: "宋体"; font-size: 12px; line-height: 22px; font-weight: normal; color: #003366}
.tt {  font-family: "宋体"; font-size: 9pt; line-height: 22px}
.bule {  }
.bq1 {  font-family: "宋体"; font-size: 9pt; color: #996600; text-decoration: none}
.bq2 {  font-family: "宋体"; font-size: 9pt; color: #003399; text-decoration: none}
.table {  border: #FFFFFF solid; border-width: 1px 1px 0px}
