body {  clear: 0; float: 0; height: 0px; width: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
td {  }
td {  }
body {  font-size: 9px; color: #006633; line-height: 15.7pt}
.kcjj {  font-size: 9pt; line-height: 15.7pt; color: #003333}
.bg {  background-image: url(huibian_05); background-repeat: repeat-x}
