body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  tab-size: 4;
  -moz-tab-size: 4;
}

a:hover {
	text-decoration: none;
}

.mono16 {
	display: inline-block;
	width: 16em;
}
.mono32 {
	display: inline-block;
	width: 32em;
}

.bg-firstblood {
	background-color: DarkGreen;
	color: #eee;
	text-align: center;
}

.bg-accepted {
	background-color: #dff0d8;
	text-align: center;
}

.bg-rejected {
	background-color: #f2dede;
	text-align: center;
}

.bg-unknown {
	background-color: #fcf8e3;
	text-align: center;
}

p.mkcent {
	text-align: center;
}
th.mkcent {
	text-align: center;
}

.panel-heading p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.label {
	line-height: 1.9;
	padding: .3em .6em .3em;
}

#editor-wrapper {
	height: 400px;
	margin: 15px -15px -15px -15px;
	border-top: rgba(0,0,0,.12) 1px solid;
	position: relative;
}
#editor {
	width: 100%;
	height: 100%;
	font-size: 14px;
}

#editor-drop-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	background: rgba(0,0,0,.12);
	color: rgba(0,0,0,.54);
	text-align: center;
	line-height: 360px;
	font-size: 24px;
	-webkit-backdrop-filter: blur(2px);
	-moz-backdrop-filter: blur(2px);
	-o-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

#problemtext{
	color: #404040;
}

#problemtext h2{
	font-size:180%;
	font-weight:bold;
	color: #202020;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#problemtext h3{
	font-size:140%;
	color: #202020;
	font-weight:bold;
}

#problemtext p{
	text-indent:2em;
}
